__pycache__/
*.pyc
venv/
.env/
.DS_Store
.vscode/

# C++ Compiled Binaries
*.out
*.exe
test_runner

# Jupyter Checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Kompilierte Binaries
preprocessing_serial
preprocessing

# Ausgabebilder (optional, falls ihr die nicht tracken wollt)
binary_output_serial.png
binary_output.png


#
benchmark_prepro.sh