# Python
*.pyc
**/__pycache__/
venv/
.env/
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Bitmap images are too large
*.bmp

# macOS
.DS_Store

# Editors
.vscode/

# Compiled binaries and build output
*.out
*.exe
test_runner
build/

*.log